<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
<body>
    <h1>About Amy Chen</h1>

    <!-- Personal and Education Information -->
    <h2>Basic Personal Information</h2>
    <p> <strong>Name:</strong> Amy
        <strong>Age:</strong> 21 years old
        <strong>Gender:</strong> Female</p>

    <h3>Education Information</h3>
       <p> <strong>School:</strong> University of Maryland, <em>College Park</em>
        <strong>Major:</strong> Information Systems
        <strong>Grade Level:</strong> Senior</p>

    <!-- Ordered and Unordered Lists-->
    <p>Current Courses:</p>

    <ul>
        <li>BMGT404</li>
        <li>BMGT408V</li>
        <li>BUDT724</li>
        <li>BUDT723</li>
    </ul>

    <p>Current Courses In Order:</p>
    <ol>
        <li>BMGT404</li>
        <li>BMGT408V</li>
        <li>BUDT724</li>
        <li>BUDT723</li>
    </ol>

    <!-- Table of Courses and Corresponding Semester Taken -->
    <table>
        <tr>
           <th>Courses</th>
            <th>Semester Taken</th>
        </tr>

        <tr>
           <th>BMGT302</th>
            <th>Fall 2021</th>
        </tr>

        <tr>
           <th>Math120</th>
            <th>Fall 2019</th>
        </tr>

        <tr>
           <th>BUDT703</th>
            <th>Fall 2022</th>
        </tr>
    </table>

    <!-- Hyperlinks -->
    <h2>Relative Hyperlink To hello.html Page</h2>
    <p> <a href="http://127.0.0.1:5000"> </a> </p>

    <h2>Favorite Web sites</h2>
    <p>Favorite 1: <a href="https://www.python.org"></a></p>
    <p>Favorite 2: <a href="https://www.w3schools.com" target="_blank"> </a> </p>


    <h2>Robert H. Smith Logo</h2>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">

</body>
</html>
